@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Parametrização Geral</h3>
    <div class="row">
        <ul>
            <li>
                <span class="fonte-texto-medio link pointer" onclick="AbrirDivListagem('GrupoStatus')">Grupo de Status</span>
            </li>
            <li>
                <span class="fonte-texto-medio link pointer" onclick="AbrirDivListagem('Status')">Status</span>
            </li>
            <li>
                <span class="fonte-texto-medio link pointer" onclick="AbrirDivListagem('Ramo')">Ramo</span>
            </li>
            <li>
                <span class="fonte-texto-medio link pointer" onclick="AbrirDivListagem('Produto')">Produto</span>
            </li>
        </ul>
    </div>
</div>
